<section class="about-section" id="about">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-5">
        <div class="featured-text">
          <h3 class="pb-5 text-uppercase"><u>About Me</u></h3>
          <p class="text-white-50 mb-4 text-justify">{{aboutMe}}</p>
          <p class="text-white-50 mb-4 text-justify">{{aboutWork}}</p>
          <p class="text-white-50 text-justify">{{currentWork}}</p>
        </div>
      </div>
      <div class="col-5">
        <div class="featured-text">
          <h3 class="pb-5 text-uppercase">My Skills</h3>
          <ul class="text-white-50 skills-section">
            <li>Programming Languages</li>
            <p>{{programmingLanguages}}</p>
            <li>Web Frameworks</li>
            <p>{{webFramewWorks}}</p>
            <li>Databases</li>
            <p>{{database}}</p>
            <li>Data Analytics/Data Visualization</li>
            <p>{{dataAnalytics}}, {{dataVisualization}}</p>
            <li>Machine Learning Models</li>
            <p>{{machineLearningModels}}</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
