<section class="contact-section bg-black" id="projects">
  <div class="container">
    <h3 class='text-white text-uppercase text-center project-title mb-5'>What I'm working On</h3>
    <div class="row mb-5 featured-row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class='card-header'>
            <div class="m-0">{{projects.imageCaptioning.title}}</div>
          </div>
          <div class="card-body d-flex flex-column">
            <hr class="mt-0" />
            <div class="medium text-black-50 mb-5">{{projects.imageCaptioning.desc}}</div>
            <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
              <span class="badge badge-pill badge-primary mr-2 float-left"
                *ngFor="let tags of projects.imageCaptioning.tags">{{tags}}</span><br /><br />
              <a [href]="projects.imageCaptioning.github" target="_blank">
                <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class='card-header'>
            <div class="m-0">{{projects.rankingSummarization.title}}</div><br />
          </div>
          <div class="card-body flex-column d-flex">
            <hr class="mt-0" />
            <div class="medium text-black-50 mb-5">{{projects.rankingSummarization.desc}}</div>
            <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
              <span class="badge badge-pill badge-primary mr-2 float-left"
                *ngFor="let tags of projects.rankingSummarization.tags">{{tags}}</span><br /><br />
              <a class="text-center" [href]="projects.rankingSummarization.github" target="_blank">
                <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class='card-header'>
            <div class="m-0">{{projects.ids.title}}</div>
          </div>
          <div class="card-body flex-column d-flex">
            <hr class="mt-0" />
            <div class="medium text-black-50 mb-5">{{projects.ids.desc}}</div>
            <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
              <span class="badge badge-pill badge-primary mr-2 float-left"
                *ngFor="let tags of projects.ids.tags">{{tags}}</span><br /><br />
              <a class="text-center" [href]="projects.ids.github" target="_blank">
                <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse multi-collapse" id="more-projects">

      <div class="row mb-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.vds.title}}</div>
            </div>
            <div class="card-body d-flex flex-column">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.vds.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.vds.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.vds.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.crimesChicago.title}}</div>
            </div>
            <div class="card-body flex-column d-flex">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.crimesChicago.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.crimesChicago.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.crimesChicago.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.sentimentAnalysisiMDB.title}}</div>
            </div>
            <div class="card-body flex-column d-flex">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.sentimentAnalysisiMDB.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.sentimentAnalysisiMDB.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.sentimentAnalysisiMDB.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.tagSo.title}}</div>
            </div>
            <div class="card-body d-flex flex-column">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.tagSo.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.tagSo.tags">{{tags}}</span><br /><br />
                <a class="btn disabled" role="button" aria-disabled="true" [href]="projects.tagSo.github">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.disasterIdentification.title}}</div>
            </div>
            <div class="card-body flex-column d-flex">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.disasterIdentification.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.disasterIdentification.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.disasterIdentification.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.pageRank.title}}</div>
            </div>
            <div class="card-body flex-column d-flex">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.pageRank.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.pageRank.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.pageRank.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.usElections.title}}</div><br />
            </div>
            <div class="card-body d-flex flex-column">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.usElections.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.usElections.tags">{{tags}}</span><br /><br />
                <a [href]="projects.usElections.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.sentimentAnalysis.title}}</div><br />
            </div>
            <div class="card-body flex-column d-flex">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.sentimentAnalysis.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.sentimentAnalysis.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.sentimentAnalysis.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.rentCalculator.title}}</div>
            </div>
            <div class="card-body flex-column d-flex">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.rentCalculator.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.rentCalculator.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.rentCalculator.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.naiveBayes.title}}</div><br />
            </div>
            <div class="card-body d-flex flex-column">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.naiveBayes.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.naiveBayes.tags">{{tags}}</span><br /><br />
                <a [href]="projects.naiveBayes.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.crossValidation.title}}</div>
            </div>
            <div class="card-body flex-column d-flex">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.crossValidation.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.crossValidation.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.crossValidation.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class='card-header'>
              <div class="m-0">{{projects.knn.title}}</div>
            </div>
            <div class="card-body flex-column d-flex">
              <hr class="mt-0" />
              <div class="medium text-black-50 mb-5">{{projects.knn.desc}}</div>
              <div class="card-footer text-muted mt-auto m-0 p-0 mt-auto">
                <span class="badge badge-pill badge-primary mr-2 float-left"
                  *ngFor="let tags of projects.knn.tags">{{tags}}</span><br /><br />
                <a class="text-center" [href]="projects.knn.github" target="_blank">
                  <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary btn-lg js-scroll-trigger text-toogle" pageScroll data-toggle="collapse"
        href="#more-projects" role="button" aria-expanded="false" aria-controls="more-projects">
        <span class="text-collapsed">Show More<i class="fa fa-chevron-down  ml-2"></i></span>
        <span class="text-expanded">Show Less<i class="fa fa-chevron-up  ml-2"></i></span>
      </a>
    </div>
  </div>
</section>
