<header class="masthead" id='introduction'>
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <img src="../../assets/img/profile.jpg" class="img-thumbnail rounded-circle mx-auto d-block" alt="">
      <h1 class="mx-auto my-0">Akarsh Balasubramanyam</h1>
      <h3 class="mx-auto my-0 pb-5">I'm a Student, Programmer and Data Science Enthusiast.</h3>
      <a class="btn btn-primary js-scroll-trigger mr-5 btn-lg" href="#about"><span class="pr-2">Download
          CV</span>
        <fa-icon [icon]="fileIcon" size="2x"></fa-icon>
      </a>
      <a class="btn btn-primary btn-lg js-scroll-trigger" href="#about"><span class="pr-2">About Me</span>
        <fa-icon [icon]="handDownIcon" size="2x"></fa-icon>
      </a>
      <div class="social d-flex justify-content-center pt-4">
        <a class="mx-2" [href]="twitterURL" target="_blank">
          <fa-icon [icon]="faTwitterIcon" size="lg"></fa-icon>
        </a>
        <a class="mx-2" [href]="faceBookURl" target="_blank">
          <fa-icon [icon]="faFaceBookIcon" size="lg"></fa-icon>
        </a>
        <a class="mx-2" [href]="linkedInURL" target="_blank">
          <fa-icon [icon]="faLinkedInIcon" size="lg"></fa-icon>
        </a>
        <a class="mx-2" [href]="gitHubURL" target="_blank">
          <fa-icon [icon]="faGithubIcon" size="lg"></fa-icon>
        </a>
        <a class="mx-2" [href]="kaggleURL" target="_blank">
          <fa-icon [icon]="faKaggleIcon" size="lg"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</header>
