<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4" />
            <div class="small text-black-50">914 #1 South Oakley Boulevard</div>
            <div class="small text-black-50">Chicago IL</div>
            <div class="small text-black-50">United States of America</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4" />
            <div class="small text-black-50">
              <a href="mailto:akarshbalu@gmail.com">akarshbalu@gmail.com</a>
              <br />
              <a href="mailto:abalas26@uic.edu">abalas26@uic.edu</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4" />
            <div class="small text-black-50">+1 (773) 744-4763</div>
          </div>
        </div>
      </div>
    </div>

    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="https://twitter.com/iamakarshb" target="_blank">
        <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
      </a>
      <a class="mx-2" href="https://www.facebook.com/Akarsh.Balasubramanyam" target="_blank">
        <fa-icon [icon]="faFaceBook" size="lg"></fa-icon>
      </a>
      <a class="mx-2" href="https://www.linkedin.com/in/akarsh-b/" target="_blank">
        <fa-icon [icon]="faLinkedIn" size="lg"></fa-icon>
      </a>
      <a class="mx-2" href="https://github.com/Akarsh-B" target="_blank">
        <fa-icon [icon]="faGithub" size="lg"></fa-icon>
      </a>
      <a class="mx-2" href="https://github.com/Akarsh-B" target="_blank">
        <fa-icon [icon]="faKaggle" size="lg"></fa-icon>
      </a>
    </div>
  </div>
</section>

<footer class="footer bg-black small text-center text-white-50">
  <div class="container">Copyright © 2020</div>
</footer>
